body {
  font-family: Arial;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
}

.hidden {
  display: none;
}

.screen {
  padding: 20px;
}

.green {
  color: green;
  font-weight: bold;
}